.header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #d4d4d4;
  position: fixed;
  background-color: #fff;
  top: 0px;
  z-index: 0;
}

.header .section-1 img {
  width: 45px;
  height: 60px;
  margin-left: 20px;
}

.header .section-1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.header .section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .section-2 button {
  height: 79px;
  background-color: #fff;
  color: #484848;
  font-weight: bold;
  border: none;
  margin-right: 8px;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 2px solid transparent !important;
}

.header .section-2 button:hover {
  border-bottom: 2px solid #484848 !important;
  cursor: pointer;
}

@media (max-width: 1198px) {
  .header .section-2 {
    visibility: hidden;
  }
}
